﻿﻿@{
    ViewData["Title"] = "List";
}

<head>

    <link rel="stylesheet" href="~/css/Home.css" />
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</head>

<body>
    <div class="centered-container">
        <div class="content-box">
            <a asp-controller="Favorites" asp-action="Index" class="btn btn-primary">Crear una nueva visita favorita</a>
            <div class="centered-container">
            <p></p>
                <div class="content-box">
                    <div class="card">
                        <div class="card-header">
                            <input class="form-control" id="myInput" type="text" placeholder="Search..">
                        </div>
                        @foreach (var @item in @ViewBag.Favorites)
                        {
                            <div class="card mb-3">
                                <h3 class="card-header"><i class="bi bi-bookmark-heart"></i>Visita</h3>
                                <svg href="" class="d-block user-select-none" width="100%" height="50" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                                    <rect width="100%" height="100%" fill="#868e96"></rect>
                                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">@item.Id</text>
                                </svg>
                                <div class="card-body">
                                    <h5 class="card-title">Nombre</h5>
                                    <h6 class="card-subtitle text-muted">@item.Name</h6>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-text">Cedula</h5>
                                    <p class="card-title">@item.Cedula</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">@item.Brand</li>
                                    <li class="list-group-item">@item.Model</li>
                                    <li class="list-group-item">@item.Vehicle</li>
                                    <li class="list-group-item">@item.Color</li>
                                </ul>
                                <div class="options">
        @*                             <div class="option">
                                        <a class="btn btn-primary" onclick="window.location='/Visitas/Edit/@item.Id?Cedula=@item.Cedula&Name=@item.Name&Vehicle=@item.Vehicle&Brand=@item.Brand&Model=@item.Model&Color=@item.Color&Date=@item.Date'">Editar</a>
                                    </div>
                                    <div class="option">
                                        <form id="deleteForm-@item.Cedula" asp-controller="Visitas" asp-action="Delete" asp-route-visitId="@item.Id" method="post">
                                            <a type="submit" value="Delete" class="btn btn-danger delete-button" href="#">Delete</a>
                                        </form>
                                    </div> *@
                                </div>
                                <div class="card-footer text-muted">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-week" viewBox="0 0 16 16">
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z" />
                                        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
                                    </svg>
                                    @item.Date
                                </div>
                            </div>
                            <!-- Modal de Confirmación de Eliminación -->
                            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmDeleteModalLabel">Confirma para eliminar</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Estás seguro de que deseas eliminar esta visita?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <form asp-controller="Visitas" asp-action="Delete" asp-route-visitId="@item.Id" method="post">
                                                <input type="submit" value="Sí, Eliminar" class="btn btn-danger" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
             </div>
         </div>
        <p></p>
        <div>
            <button id="myButton" class="Mybutton" data-url="/Visitas/Visitas">
                Volver
            </button>
        </div>
    </div>

    <script>
        document.getElementById("myButton").addEventListener("click", function () {
            // Obtén la URL del atributo data-url
            var url = this.getAttribute("data-url");

            // Redirige al usuario a la URL
            window.location.href = url;
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.delete-button').click(function (e) {
                e.preventDefault(); // Detén el envío del formulario por defecto

                // Muestra el modal de confirmación
                $('#confirmDeleteModal').modal('show');
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('form[id^="deleteForm-"]').on("submit", function (e) {
                e.preventDefault(); // Evita que el formulario se envíe de inmediato

                var form = $(this);

                // Mostrar una ventana modal de confirmación antes de enviar el formulario
                if (confirm("¿Estás seguro de que deseas eliminar esta visita?")) {
                    // Si el usuario confirma, envía el formulario
                    form.off("submit").submit();
                }
            });
        });
    </script>


</body>